.css-45dexs {
    font-size: 0.8125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}
.css-1djwytu {
    /*    cursor: pointer;    */
}
@media (max-width: 911.98px) {
    .css-e6qst {
        padding-top: 8px;
    }
}
.css-e6qst {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    max-width: 1200px;
}
@media (max-width: 911.98px) {
    .css-8cj8tx {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.css-110lp5u {
    word-break: keep-all;
    padding-top: 16px;
    padding-bottom: 20px;
}
.css-1amo7mp {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}
.css-kfz0i7 {
    position: sticky;
    top: 0px;
    z-index: 50;
    background-color: rgb(255, 255, 255);
}
@media (max-width: 911.98px) {
    .css-zcuoo3 {
        display: none;
    }
}
.css-1vp4yrs {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 52px;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(235 235 235 / var(--tw-border-opacity));
}
.css-1kk81nd {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: auto;
}
.css-1xm5k3z {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: transparent solid 2px;
    outline-offset: 2px;
}
.css-k3ujds {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(18 115 228 / var(--tw-text-opacity));
}
.css-1ul4dyk {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
}
.css-fypmlo {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    height: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(18 115 228 / var(--tw-bg-opacity));
}
.css-ra7hsd {
    display: flex;
    height: 100%;
    width: 60px;
    flex-direction: row;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-left: -24px;
}
.css-77wy9y {
    height: 100%;
    width: 20px;
    background-image: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.css-2r64vr {
    height: 100%;
    width: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.css-2r64vr svg {
    fill: rgb(51, 51, 51);
    --tw-rotate: 270deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.css-1o7kuxv {
    height: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(235 235 235 / var(--tw-border-opacity));
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
}
.css-17irrb2 {
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    position: relative;
    z-index: 2;
}
.css-18vpsd4 {
    padding: 16px;
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: transparent solid 2px;
    outline-offset: 2px;
}
.css-17irrb2 .GCLineSmallTabItem span {
    font-size: 13px;
}
.css-116ujbz {
    font-size: 0.8125rem;
    line-height: normal;
    letter-spacing: 0px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(18 115 228 / var(--tw-text-opacity));
}
.css-1xryck8 {
    font-size: 0.8125rem;
    line-height: normal;
    letter-spacing: 0px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
}
@media (max-width: 911.98px) {
    .css-5ae0f {
        row-gap: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.css-5ae0f {
    margin-top: 20px;
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(clamp(31.733%, 1.079e+06px - 100000vw, 40%), 744000px - 100000vw, 100%), 1fr));
}
.css-1djwytu {
    cursor: pointer;
}
.css-ky9sbh {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w)* 100%);
    --tw-aspect-w: 5;
    --tw-aspect-h: 2;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}
.css-ky9sbh > * {
/*    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;*/
}
.css-1rxr1mu {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 20px;
}
.css-gvatwm {
    font-size: 0.9375rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}
.css-dv10l8 {
    display: flex;
    gap: 6px;
    padding-bottom: 4px;
}
.css-1e1wwgb {
    height: 100%;
    width: 100%;
    position: relative;
}
.css-kytcrd {
    position: absolute;
    top: 50%;
    left: 18px;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    cursor: pointer;
}
.css-1o2laqr {
    fill: rgb(51, 51, 51);
}
.css-11gwq1b {
    position: absolute;
    top: 50%;
    left: 50%;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -50%;
    text-align: center;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    max-width: 70%;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.css-1d4xze7 {
    position: absolute;
    top: 50%;
    right: 18px;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}
