.css-1xkde92 {
    /*display: -webkit-box;
    display: -webkit-flex;*/
    display: -ms-flexbox;
    display: flex;
    /*-webkit-flex-direction: column;*/
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 96px;
}

* {
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

main {
    /*display: block;*/
    unicode-bidi: isolate;
}

@media (min-width: 912px) {
    .css-15y7vr3 {
        height: 464px;
    }
}

.css-15y7vr3 {
    width: 100%;
    position: relative;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

section {
    display: block;
    unicode-bidi: isolate;
}

@media (min-width: 1280px) {
    .css-1s1o2q2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 912px) {
    .css-1s1o2q2 {
        /*padding-left: 40px;*/
        /*padding-right: 40px;*/
        padding-bottom: 70px;
    }
}

.css-1s1o2q2 {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    z-index: 9;
    position: relative;
}

@media (min-width: 912px) {
    a, input, button, div, li, textarea, form, label, select {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}

a, input, button, div, li, textarea, form, label, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 912px) {
    .css-ybsj4s {
        margin-bottom: 32px;
    }
}

@media (min-width: 912px) {
    .css-ybsj4s {
        font-size: 2rem;
        line-height: 2.75rem;
        letter-spacing: 0px;
    }
}

.css-ybsj4s {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

:-webkit-any(article, aside, nav, section) h1 {
    /*font-size: 1.5em;*/
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    /*font-size: 2em;*/
   /* margin-block-start: 0.67em;*/
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*font-weight: bold;*/
    unicode-bidi: isolate;
}

@media (min-width: 912px) {
    .css-vdghbq {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 24px;
    }
}

.css-vdghbq {
    width: 100%;
    border-radius: 16px;
    --tw-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
    --tw-shadow-colored: 0px 2px 16px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 11;
}

.css-1lmhcfn {
    width: 100%;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(245 245 245 / var(--tw-border-opacity));
}

div {
    display: block;
    unicode-bidi: isolate;
}

.css-1lmhcfn {
    width: 100%;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(245 245 245 / var(--tw-border-opacity));
}

.css-cfjpcv {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    /*display: block;*/
    /*list-style-type: disc;*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.css-1xm5k3z {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: transparent solid 2px;
    outline-offset: 2px;
}

.css-k3ujds {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(18 115 228 / var(--tw-text-opacity));
}

.css-18ccwgl {
    width: 100%;
}

.css-18ehw4r {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

@media (min-width: 1280px) {
    .css-1xz1yyj {
        max-width: 420px;
        flex-basis: 40%;
    }
}

@media (min-width: 912px) {
    .css-1xz1yyj {
        min-width: 280px;
        /*flex-basis: 50%;*/
    }
}

.css-19sk4h4 {
    position: relative;
}

.css-1qs59fb {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.css-8axmcj {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 48px;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding: 4px 14px;
}

.css-lop7o2 {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.css-1hm6dv8 {
    fill: rgb(153, 153, 153);
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.css-59ixa7 {
    height: 20px;
    width: 100%;
    position: relative;
}

.css-13l7akb {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    caret-color: rgb(18, 115, 228);
    /*flex: 1 1 0%;*/
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    /*font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;*/
    margin: 0;
    padding: 0;
}

.__variable_6eb640 {
    --font-pretendard: "__pretendard_6eb640", "__pretendard_Fallback_6eb640";
}

.font-pretendard {
    font-family: var(--font-pretendard);
}

body {
   /* margin: 0;*/
    line-height: inherit;
}

style attribute {
    --vh: 1.5px;
}

:root {
    --side-menu__z-index: 999;
}

html {
    /*line-height: 1.5;*/
    -webkit-text-size-adjust: 100%;
    /*-moz-tab-size: 4;
    -o-tab-size: 4;*/
    tab-size: 4;
    /*font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;*/
    font-feature-settings: normal;
}

:after, :before {
    --tw-content: "";
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

body * ::-webkit-scrollbar {
    width: 16px;
}

body * ::-webkit-scrollbar-thumb {
    width: 8px;
    border: 4px solid #ffffff;
    border-radius: 8px;
    --tw-bg-opacity: 1;
    background-color: rgb(235 235 235 / var(--tw-bg-opacity));
}

body * ::-webkit-scrollbar-track {
    background-color: transparent;
}

.css-13l7akb {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    caret-color: rgb(18, 115, 228);
    flex: 1 1 0%;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
   /* font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;*/
    margin: 0;
    padding: 0;
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate3d(20px, 378px, 0px);
}

.shadow-shadow_basic {
    --tw-shadow: 0px 2px 16px rgba(0, 0, 0, .08);
    --tw-shadow-colored: 0px 2px 16px var(--tw-shadow-color);
}

.shadow-\[0_2px_8px_rgba\(0\2c 0\2c 0\2c 0\.24\)\], .shadow-shadow_basic {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.border-borderTable, .border-buttonDefaultOutline {
    --tw-border-opacity: 1;
    border-color: rgb(235 235 235 / var(--tw-border-opacity));
}

.border-10 {
    border-width: 1px;
}

.rounded-radius_8 {
    border-radius: 8px;
}

.overflow-hidden {
    overflow: hidden;
}

@media (min-width: 1280px) {
    .css-vhbfjm {
        max-width: 298px;
        flex-basis: 35%;
    }
}

@media (min-width: 912px) {
    .css-vhbfjm {
        min-width: 218px;
        /*flex-basis: 25%;*/
    }
}

[role=button], button {
    cursor: pointer;
}

.css-ip3fk1 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding: 12px 20px 12px 14px;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    /*background-color: transparent;*/
    background-image: none;
}

.css-ip3fk1 svg {
    fill: rgb(153, 153, 153);
}

.css-ip3fk1 > span {
    margin-left: 8px;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate3d(440px, 378px, 0px);
}

.css-1v0mcck {
    width: 634px;
}

@media (min-width: 1280px) {
    .css-18ulrpo {
        max-width: 298px;
        flex-basis: 35%;
    }
}

@media (min-width: 912px) {
    .css-18ulrpo {
        min-width: 150px;
        /*flex-basis: 25%;*/
    }
}

.h-full {
    height: 100%;
}

[role=button], button {
    cursor: pointer;
}

.css-nbszbk {
    height: 48px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding: 4px 4px 4px 16px;
}

.css-zppxx6 {
    fill: rgb(153, 153, 153);
}

.css-k8a7g9 {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate3d(750px, 378px, 0px);
}

.css-14l0i74 {
    min-width: 120px;
}

.css-1ke8c0e {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    height: 48px;
    border-radius: 10px;
    border-width: 2px;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(18 115 228 / var(--tw-bg-opacity));
    color: rgb(255, 255, 255);
    border-style: none;
    padding: 10px 18px;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
   /* font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;*/
    margin: 0;
    /*padding: 0;*/
}

@media (min-width: 912px) {
    .css-1pd54yc {
        display: none;
    }
}

.css-1pd54yc {
    height: 100%;
    width: 100%;
}

.css-i51owg {
    height: 48px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 16px;
    gap: 8px;
}

[role=button], button {
    cursor: pointer;
}

.css-i51owg div {
    width: 20px;
    height: 20px;
}

.css-i51owg svg {
    fill: rgb(153, 153, 153);
}

svg[Attributes Style] {
    width: 20;
    height: 20;
    /*fill: none;*/
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.css-1q7cgnn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(194 194 194 / var(--tw-text-opacity));
}

element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}

.css-e7tyoy {
    z-index: 0;
    object-fit: cover;
    object-position: center center;
}

img, video {
    max-width: 100%;
    /*height: auto;*/
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media (min-width: 912px) {
    .css-1xkde92>*:not(.search-section-loading):not(.home-search-section) {
        margin-top: 20px;
    }
}

@media (min-width: 912px) {
    .css-nzei3w {
        max-width: 1200px;
    }
}

.css-nzei3w {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 1280px) {
    .css-11y002j {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.css-11y002j {
    padding-top: 25px;
    padding-bottom: 25px;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.css-lajqqe {
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.css-gnoxn2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0px;
    border-style: none;
    --tw-text-opacity: 1;
    color: rgb(18 115 228 / var(--tw-text-opacity));
    padding: 0px;
}

a {
   /* color: inherit;*/
    text-decoration: inherit;
}

@media (min-width: 1280px) {
    .css-1oiph1y {
        padding-left: 0px;
        padding-right: 0px;
    }
}

element.style {
    visibility: hidden;
}

.css-8u5eea {
    position: relative;
    height: 100%;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

element.style {
    transition-duration: 300ms;
    transform: translate3d(-3672px, 0px, 0px);
}

.css-8u5eea.gc-indicator-carousel .swiper-wrapper {
    display: inline-flex;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*display: flex;*/
    transition-property: transform;
    box-sizing: content-box;
}

element.style {
    /*width: 384px;*/
    margin-right: 24px;
}

@media (min-width: 1200px) {
    .css-1oiph1y .swiper-slide {
        width: calc(33.333% - 16px) !important;
    }
}

.swiper-slide {
    flex-shrink: 0;
    /*width: 100%;*/
    height: 100%;
    position: relative;
    transition-property: transform;
}

@media (min-width: 1200px) {
    .css-1oiph1y .home-event-banner {
        padding-top: 39.84%;
        width: 100% !important;
        height: auto !important;
    }
}

.css-e7lzfy {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.css-ehfifb {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.css-y6a1r7 {
    /*display: -webkit-box;
    display: -webkit-flex;*/
    display: -ms-flexbox;
    display: flex;
    /*-webkit-align-items: center;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /*-webkit-justify-content: center;*/
    justify-content: center;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(245 247 250 / var(--tw-bg-opacity));
}

@media (min-width: 912px) {
    .css-1xkde92>*:not(.search-section-loading):not(.home-search-section) {
        margin-top: 20px;
    }
}

@media (min-width: 912px) {
    .css-nzei3w {
        max-width: 1200px;
    }
}

.css-nzei3w {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 1280px) {
    .css-11y002j {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.css-lajqqe {
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
    .css-10yqxmj {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.css-tygwag {
    position: relative;
}

.css-tygwag .swiper {
    width: 100%;
    height: 100%;
    position: static;
}

element.style {
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*display: flex;*/
    transition-property: transform;
    box-sizing: content-box;
}

element.style {
    margin-right: 24px;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}

@media (min-width: 1200px) {
    .css-10yqxmj .swiper-slide {
        width: calc(16.666% - 20.1px) !important;
    }
}

.swiper-slide {
    flex-shrink: 0;
    /*width: 100%;*/
    height: 100%;
    position: relative;
    transition-property: transform;
}

@media (min-width: 1200px) {
    .css-10yqxmj .gc-curation-card {
        width: 100% !important;
    }
}

element.style {
    user-select: none;
}

.css-tygwag .swiper-button-disabled {
    display: none;
}

.css-nm6cl9 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.css-1f6hiyn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@media (min-width: 1200px) {
    .css-10yqxmj .gc-curation-card a > div {
        width: 100% !important;
        padding-top: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 911.98px) {
    .css-esgyfy {
        height: 156px;
        width: 156px;
    }
}

.css-esgyfy {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}

.css-yfx902 {
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px 4px 20px;
}

@media (min-width: 912px) {
    .css-10yqxmj .swiper-prev-btn {
        left: -20px !important;
    }
}

.css-1qmg7ga {
    height: 40px;
    width: 40px;
    position: absolute;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 20;
    visibility: visible;
    top: 90px;
}

.css-ljfiaz {
    fill: rgb(51, 51, 51);
}

.css-1cpvldn {
    height: 40px;
    width: 40px;
    position: absolute;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 20;
    visibility: visible;
    top: 90px;
}

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

@media (min-width: 912px) {
    .css-1xkde92>*:not(.search-section-loading):not(.home-search-section) {
        margin-top: 20px;
    }
}

@media (min-width: 1280px) {
    .css-1pnialp {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 912px) {
    .css-1pnialp {
        max-width: 1200px;
    }
}

.css-1pnialp {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.css-1bc2ohd {
    padding-top: 16px;
    padding-bottom: 16px;
}

.css-lajqqe {
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

@media (min-width: 912px) {
    .css-10hq445 {
        column-gap: 24px;
    }
}

@media (min-width: 912px) {
    .css-10hq445 {
        grid-template-columns: repeat(6, minmax(0px, 1fr));
    }
}

.css-10hq445 {
    display: grid;
    padding-bottom: 20px;
}

.css-grswmc {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

.css-grswmc a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0px;
}

.css-gnoxn2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    /*white-space: nowrap;*/
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0px;
    border-style: none;
    --tw-text-opacity: 1;
    color: rgb(18 115 228 / var(--tw-text-opacity));
    padding: 0px;
}

.css-grswmc span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 912px) {
    .css-1xkde92>*:not(.search-section-loading):not(.home-search-section) {
        margin-top: 20px;
    }
}

@media (min-width: 912px) {
    .css-nzei3w {
        max-width: 1200px;
    }
}

.css-nzei3w {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 1280px) {
    .css-11y002j {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.css-lajqqe {
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
    .css-s094n4 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.css-1l5q1e2 {
    display: flex;
    width: 100%;
    padding-bottom: 12px;
}

.css-4wxgvx {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior: none;
    gap: 6px 8px;
    flex-wrap: nowrap;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

 .css-1ax683h {
     height: 32px;
     max-width: 212px;
     padding: 8px 16px;
     font-size: 0.8125rem;
     line-height: 0.8125rem;
     letter-spacing: 0px;
     font-weight: 600;
     flex: 0 0 auto;
     cursor: pointer;
     -webkit-box-align: center;
     align-items: center;
     display: block;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     border-radius: 100px;
     border-width: 1.5px;
     --tw-bg-opacity: 1;
     background-color: rgb(18 115 228 / var(--tw-bg-opacity));
     color: rgb(255, 255, 255);
 }

.css-qdm543 {
    height: 32px;
    max-width: 212px;
    padding: 8px 16px;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    letter-spacing: 0px;
    font-weight: 600;
    flex: 0 0 auto;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 100px;
    border-width: 1.5px;
    --tw-border-opacity: 1;
    border-color: rgb(235 235 235 / var(--tw-border-opacity));
    background-color: rgb(255, 255, 255);
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
    .css-1b1suyr {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.css-tygwag {
    position: relative;
}

.css-tygwag .swiper {
    width: 100%;
    height: 100%;
    position: static;
}

element.style {
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
}

@media (min-width: 1200px) {
    .css-1b1suyr .swiper-slide {
        width: calc(25% - 18.1px) !important;
    }
}

@media (min-width: 912px) {
    .css-1b1suyr .gc-carousel-seller-card a {
        width: 100% !important;
    }
}

@media (min-width: 912px) {
    .css-1s6ipaw {
        padding-bottom: 24px;
    }
}

@media (min-width: 912px) {
    .css-1s6ipaw {
        gap: 16px;
    }
}

.css-1s6ipaw {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 912px) {
    .css-1b1suyr .gc-carousel-seller-card a > div:first-of-type {
        width: 100% !important;
        height: auto !important;
        padding-top: 60% !important;
    }
}

.css-1u3x8z {
    position: relative;
    /*width: 100%;*/
    border-radius: 12px;
    overflow: hidden;
}

.css-uephkq {
    height: 134px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
}

.css-11ph1yg {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.css-55gmy0 {
    font-size: 0.6875rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
}

.css-11ph1yg {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.css-1ed5eid {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.css-6a9mcq {
    margin-top: -2px;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-12w01xw {
    font-size: 0.8125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-dvc0hs {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 6px;
}

.css-1mww79i {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 173 10 / var(--tw-bg-opacity));
    border-radius: 6px;
    padding: 4px 5px 3px 3px;
}

.css-1xzmtz0 {
    margin-bottom: 1px;
    fill: rgb(51, 51, 51);
}

.css-9ml4lz {
    font-size: 0.75rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

.css-oj6onp {
    font-size: 0.8125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
}

.css-1km0bek {
    display: flex;
    flex-direction: column;
}

.css-1n3u5us {
    font-size: 0.75rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}

.css-3pn4al {
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

css-15chtzm {
    font-size: 0.9375rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    margin-right: 4px;
}

.css-1059j97 {
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
    text-decoration-line: line-through;
}

@media (max-width: 911.98px) {
    .css-15y7vr3 {
        height: 256px;
    }
}

@media (max-width: 911.98px) {
    .css-1s1o2q2 {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }
}

@media (max-width: 911.98px) {
    a, input, button, div, li, textarea, form, label, select {
        outline: 2px solid transparent;
        outline-offset: 2px;
        outline-width: 0px;
    }
}

@media (max-width: 911.98px) {
    .css-ybsj4s {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0px;
    }
}

@media (max-width: 911.98px) {
    .css-1lmhcfn {
        display: none;
    }
}

.css-zxx61x {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 68px;
}

.css-1kk81nd {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: auto;
}

.css-fypmlo {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    height: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(18 115 228 / var(--tw-bg-opacity));
}

.css-ra7hsd {
    display: flex;
    height: 100%;
    width: 60px;
    flex-direction: row;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-left: -24px;
}

.css-1ul4dyk {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
}

.css-77wy9y {
    height: 100%;
    width: 20px;
    background-image: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

css-2r64vr {
    height: 100%;
    width: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.css-2r64vr svg {
    fill: rgb(51, 51, 51);
    --tw-rotate: 270deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

@media (max-width: 911.98px) {
    .css-18ccwgl {
        display: none;
    }
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate(0px, 908px);
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate(0px, 8px);
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate(0px, 1008px);
}

@media (max-width: 911.98px) {
    .css-1pd54yc {
        visibility: visible;
    }
}

@media (max-width: 911.98px) {
    .css-1xkde92>*:not(.search-section-loading):not(.home-search-section) {
        margin-top: 16px;
    }
}

@media (max-width: 911.98px) {
    .css-11y002j {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 911.98px) {
    .css-1oiph1y {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.css-8u5eea.gc-indicator-carousel .swiper {
    width: 100%;
    height: 100%;
    position: static;
}

element.style {
    transition-duration: 0ms;
    transform: translate3d(-4190.28px, 0px, 0px);
}

.css-8u5eea.gc-indicator-carousel .swiper-slide {
    width: auto;
}

@media (max-width: 911.98px) {
    .css-e7lzfy {
        height: 129.6px;
        width: 324px;
    }
}

.css-8u5eea.gc-indicator-carousel .swiper-slide img {
    object-fit: cover;
}

element.style {
    width: 80px;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.css-8u5eea.gc-indicator-carousel .swiper-pagination-bullets-dynamic {
    margin-top: 12px;
}

.css-8u5eea.gc-indicator-carousel .swiper-pagination {
    position: relative;
    bottom: auto;
    top: auto;
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}

.swiper-pagination {
    /*position: absolute;*/
    text-align: center;
    transition: opacity .3s;
    /*transform: translateZ(0);*/
    z-index: 10;
}

element.style {
    left: 0px;
}

.css-8u5eea.gc-indicator-carousel .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .css-8u5eea.gc-indicator-carousel .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 4px;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s, left .2s;
}

.css-8u5eea.gc-indicator-carousel .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.66) !important;
}

.css-8u5eea.gc-indicator-carousel .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    /*transform: scale(.33);*/
    position: relative;
}

.swiper-pagination-bullet {
    /*width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));*/
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

@media (max-width: 911.98px) {
    .css-cmzj7w {
        display: none;
    }
}

.css-cmzj7w {
    height: 40px;
    width: 40px;
    position: absolute;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 20;
    /*display: none;*/
    top: 65px;
}

@media (max-width: 911.98px) {
    .css-r2qc3v {
        display: none;
    }
}

.css-r2qc3v {
    height: 40px;
    width: 40px;
    position: absolute;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 20;
    /*display: none;*/
    top: 65px;
}

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

@media (min-width: 912px) {
    .css-1xkde92>*:not(.search-section-loading):not(.home-search-section) {
        margin-top: 25px;
    }
}

@media (min-width: 912px) {
    .css-wjyf1y {
        /*margin-top: -12px;*/
        margin-bottom: -12px;
    }
}

@media (min-width: 912px) {
    .css-b458pl {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.css-b458pl {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 912px) {
    .css-1ydn4yb {
        height: 1px;
        --tw-bg-opacity: 1;
        background-color: rgb(235 235 235 / var(--tw-bg-opacity));
    }
}

.css-1ydn4yb {
    margin-bottom: 8px;
    width: 100%;
}

@media (max-width: 911.98px) {
    .css-10yqxmj {
        padding-left: 0px;
        padding-right: 0px;
    }
}

element.style {
    transition-duration: 0ms;
    transform: translate3d(20px, 0px, 0px);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

element.style {
    margin-right: 12px;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0px);
    backface-visibility: hidden;
}

.css-tygwag .swiper-slide {
    width: auto;
}

@media (max-width: 911.98px) {
    .css-nm6cl9 {
        width: 156px;
    }
}

@media (min-width: 912px) {
    .css-1oiph1y {
        padding-left: 40px;
        padding-right: 40px;
    }
}

element.style {
    transition-duration: 0ms;
    transform: translate3d(-2559px, 0px, 0px);
}

media (min-width: 912px) {
.css-10yqxmj .swiper-slide {
    width: calc(16.666% - 20.1px) !important;
}
}

@media (max-width: 911.98px) {
    .css-15lpdfs {
        display: none;
    }
}

.css-15lpdfs {
    height: 40px;
    width: 40px;
    position: absolute;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    /*display: flex;*/
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 20;
    visibility: visible;
    top: 78px;
}

@media (max-width: 911.98px) {
    .css-18jghqx {
        display: none;
    }
}

.css-18jghqx {
    height: 40px;
    width: 40px;
    position: absolute;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    /*display: flex;*/
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    --tw-shadow-colored: 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 20;
    visibility: visible;
    top: 78px;
}

.swiper .swiper-notification {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

@media (max-width: 911.98px) {
    .css-1pnialp {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.css-1pnialp {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (max-width: 911.98px) {
    .css-1iro8sk {
        padding-right: 0px;
    }
}

@media (max-width: 911.98px) {
    .css-1iro8sk {
        height: 134px;
    }
}

@media (max-width: 911.98px) {
    .css-1iro8sk {
        padding-left: 20px;
    }
}

.css-1iro8sk {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(237 235 255 / var(--tw-bg-opacity));
}

@media (max-width: 911.98px) {
    .css-hpj4q3 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.css-hpj4q3 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
}

@media (max-width: 911.98px) {
    .css-1h4t649 {
        margin-bottom: 12px;
    }
}

@media (max-width: 911.98px) {
    .css-1h4t649 {
        font-size: 1.125rem;
        line-height: normal;
        letter-spacing: 0px;
    }
}

@media (max-width: 911.98px) {
    .css-1h4t649 {
        width: 153px;
    }
}

.css-1h4t649 {
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    font-weight: 700;
}

@media (max-width: 911.98px) {
    .css-neqh8b {
        display: none;
    }
}

.css-neqh8b {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    margin-bottom: 12px;
}

@media (max-width: 911.98px) {
    .css-7hl0gr {
        display: none;
    }
}

.css-7hl0gr {
    /*display: flex;*/
    flex-direction: row;
    width: 240px;
    gap: 20px;
}

.css-n85f5n {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    border-width: 1.5px;
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(18 115 228 / var(--tw-bg-opacity));
    color: rgb(255, 255, 255);
    border-style: none;
    padding: 9px 14px;
}

.css-mal6vx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0px;
    border-style: none;
    --tw-text-opacity: 1;
    color: rgb(18 115 228 / var(--tw-text-opacity));
    padding: 0px;
}

.css-1aati4u {
    display: flex;
    flex-direction: row;
}

.css-198wf7z {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    height: 32px;
    border-radius: 8px;
    border-width: 1.2px;
    font-size: 0.75rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-bg-opacity: 1;
    background-color: rgb(18 115 228 / var(--tw-bg-opacity));
    color: rgb(255, 255, 255);
    border-style: none;
    padding: 9px 12px;
}

@media (max-width: 911.98px) {
    .css-19xxts8 {
        display: none;
    }
}

.css-19xxts8 {
    position: relative;
    height: 100%;
    width: 270px;
    overflow: hidden;
}

element.style {
    color: transparent;
}

.css-1v4usos {
    position: absolute;
    object-fit: cover;
}

.css-gi861e {
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    max-width: 306px;
    position: relative;
    z-index: 1;
}

.css-inheu7 {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    min-width: 140px;
}

.css-sk6dph {
    position: relative;
    height: 100%;
    width: 100%;
}

@media (min-width: 371px) {
    .css-1xd5cio {
        object-fit: cover;
    }
}

.css-1xd5cio {
    position: absolute;
    height: 100%;
    width: 100%;
}

section {
    display: block;
    unicode-bidi: isolate;
}

@media (min-width: 912px) {
    .css-1iro8sk {
        padding-right: 40px;
    }
}

@media (min-width: 912px) {
    .css-1iro8sk {
        height: 168px;
    }
}

@media (min-width: 912px) {
    .css-1iro8sk {
        padding-left: 24px;
    }
}

.css-1iro8sk {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(237 235 255 / var(--tw-bg-opacity));
    border-radius: 16px;
}

@media (min-width: 912px) {
    .css-vhbfjm {
        min-width: 218px;
        flex-basis: 25%;
    }
}

