@charset "UTF-8";.paragraph_list[data-v-36c931b7] {
    font-size: 12px;
    font-weight: 400
}

.register-terms__list .accept-all__caption[data-v-36c931b7] {
    font-size: 13px;
    font-weight: 400
}

.register-terms__list .accept-all__text[data-v-36c931b7] {
    font-size: 18px;
    font-weight: 700
}

.register-terms h1[data-v-36c931b7] {
    font-size: 24px;
    font-weight: 700
}

html[data-v-36c931b7] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-36c931b7] {
    display: block
}

h1[data-v-36c931b7] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-36c931b7] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-36c931b7] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-36c931b7] {
    background-color: transparent
}

abbr[title][data-v-36c931b7] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-36c931b7],strong[data-v-36c931b7] {
    font-weight: 600
}

code[data-v-36c931b7],kbd[data-v-36c931b7],samp[data-v-36c931b7] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-36c931b7] {
    font-size: 80%
}

sub[data-v-36c931b7],sup[data-v-36c931b7] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-36c931b7] {
    bottom: -.25em
}

sup[data-v-36c931b7] {
    top: -.5em
}

img[data-v-36c931b7] {
    border-style: none
}

button[data-v-36c931b7],input[data-v-36c931b7],optgroup[data-v-36c931b7],select[data-v-36c931b7],textarea[data-v-36c931b7] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-36c931b7],input[data-v-36c931b7] {
    overflow: visible
}

button[data-v-36c931b7],select[data-v-36c931b7] {
    text-transform: none
}

[type=button][data-v-36c931b7],[type=reset][data-v-36c931b7],[type=submit][data-v-36c931b7],button[data-v-36c931b7] {
    -webkit-appearance: button
}

[type=button][data-v-36c931b7]::-moz-focus-inner,[type=reset][data-v-36c931b7]::-moz-focus-inner,[type=submit][data-v-36c931b7]::-moz-focus-inner,button[data-v-36c931b7]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-36c931b7]:-moz-focusring,[type=reset][data-v-36c931b7]:-moz-focusring,[type=submit][data-v-36c931b7]:-moz-focusring,button[data-v-36c931b7]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-36c931b7] {
    padding: .35em .75em .625em
}

legend[data-v-36c931b7] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-36c931b7] {
    vertical-align: baseline
}

textarea[data-v-36c931b7] {
    overflow: auto
}

[type=checkbox][data-v-36c931b7],[type=radio][data-v-36c931b7] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-36c931b7]::-webkit-inner-spin-button,[type=number][data-v-36c931b7]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-36c931b7] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-36c931b7]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-36c931b7]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-36c931b7] {
    display: block
}

summary[data-v-36c931b7] {
    display: list-item
}

[hidden][data-v-36c931b7],template[data-v-36c931b7] {
    display: none
}

*[data-v-36c931b7],body[data-v-36c931b7] {
    box-sizing: border-box
}

body[data-v-36c931b7] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-36c931b7 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-36c931b7 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-36c931b7 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-36c931b7 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-36c931b7 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-36c931b7] {
    animation-duration: .5s;
    animation-name: slideup-36c931b7;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-36c931b7] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-36c931b7],.slideupleaveonly-leave-active[data-v-36c931b7],.slideuponly-leave-active.popup-view[data-v-36c931b7] {
    animation-duration: .5s;
    animation-name: slideupleave-36c931b7;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-36c931b7],.slideupleaveonly-leave-active .top-area[data-v-36c931b7],.slideuponly-leave-active.popup-view .top-area[data-v-36c931b7] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-36c931b7] {
    animation-duration: .5s;
    animation-name: slidein-36c931b7;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-36c931b7] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-36c931b7] {
    animation-duration: .5s;
    animation-name: slideout-36c931b7;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-36c931b7] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-36c931b7],.slideupleaveonly-enter-active[data-v-36c931b7],.slideupleaveonly-leave-active[data-v-36c931b7],.slideuponly-leave-active.popup-view[data-v-36c931b7] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-36c931b7] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-36c931b7],.slideinleaveonly-leave-active[data-v-36c931b7] {
    width: 100vmin
}

.toastFade-enter-active[data-v-36c931b7],.toastFade-leave-active[data-v-36c931b7] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-36c931b7],.toastFade-leave-to[data-v-36c931b7] {
    opacity: 0
}

.blind[data-v-36c931b7] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-36c931b7] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-36c931b7]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-36c931b7]:before {
    left: 3px;
    top: 9px
}

ul[data-v-36c931b7] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

[data-v-36c931b7] .checkbox {
    overflow: visible!important
}

[data-v-36c931b7] .checkbox svg {
    height: inherit!important;
    width: inherit!important
}

.register-terms h1[data-v-36c931b7] {
    line-height: 29px;
    margin: 16px 0 20px
}

.register-terms__list[data-v-36c931b7] {
    margin-bottom: 24px
}

.register-terms__list .accept-all[data-v-36c931b7] {
    align-items: center;
    background: #f5f5f5;
    border-radius: 8px;
    display: flex;
    height: 52px;
    margin-bottom: 8px;
    padding-left: 20px
}

.register-terms__list .accept-all__checkbox[data-v-36c931b7] {
    margin-left: 20px
}

.register-terms__list .accept-all__text[data-v-36c931b7] {
    display: flex
}

.register-terms__list .accept-all__caption[data-v-36c931b7] {
    color: #999;
    margin-left: 6px
}

.register-terms__list .item[data-v-36c931b7] {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 20px
}

.register-terms__list .item a[data-v-36c931b7] {
    height: 21px
}

.register-terms__list .item a[data-v-36c931b7]:focus-visible {
    outline: 1.5px solid #243b52
}

.paragraph_list[data-v-177042d5] {
    font-size: 12px;
    font-weight: 400
}

html[data-v-177042d5] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-177042d5] {
    display: block
}

h1[data-v-177042d5] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-177042d5] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-177042d5] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-177042d5] {
    background-color: transparent
}

abbr[title][data-v-177042d5] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-177042d5],strong[data-v-177042d5] {
    font-weight: 600
}

code[data-v-177042d5],kbd[data-v-177042d5],samp[data-v-177042d5] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-177042d5] {
    font-size: 80%
}

sub[data-v-177042d5],sup[data-v-177042d5] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-177042d5] {
    bottom: -.25em
}

sup[data-v-177042d5] {
    top: -.5em
}

img[data-v-177042d5] {
    border-style: none
}

button[data-v-177042d5],input[data-v-177042d5],optgroup[data-v-177042d5],select[data-v-177042d5],textarea[data-v-177042d5] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-177042d5],input[data-v-177042d5] {
    overflow: visible
}

button[data-v-177042d5],select[data-v-177042d5] {
    text-transform: none
}

[type=button][data-v-177042d5],[type=reset][data-v-177042d5],[type=submit][data-v-177042d5],button[data-v-177042d5] {
    -webkit-appearance: button
}

[type=button][data-v-177042d5]::-moz-focus-inner,[type=reset][data-v-177042d5]::-moz-focus-inner,[type=submit][data-v-177042d5]::-moz-focus-inner,button[data-v-177042d5]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-177042d5]:-moz-focusring,[type=reset][data-v-177042d5]:-moz-focusring,[type=submit][data-v-177042d5]:-moz-focusring,button[data-v-177042d5]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-177042d5] {
    padding: .35em .75em .625em
}

legend[data-v-177042d5] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-177042d5] {
    vertical-align: baseline
}

textarea[data-v-177042d5] {
    overflow: auto
}

[type=checkbox][data-v-177042d5],[type=radio][data-v-177042d5] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-177042d5]::-webkit-inner-spin-button,[type=number][data-v-177042d5]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-177042d5] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-177042d5]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-177042d5]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-177042d5] {
    display: block
}

summary[data-v-177042d5] {
    display: list-item
}

[hidden][data-v-177042d5],template[data-v-177042d5] {
    display: none
}

*[data-v-177042d5],body[data-v-177042d5] {
    box-sizing: border-box
}

body[data-v-177042d5] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-177042d5 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-177042d5 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-177042d5 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-177042d5 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-177042d5 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-177042d5] {
    animation-duration: .5s;
    animation-name: slideup-177042d5;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-177042d5] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-177042d5],.slideupleaveonly-leave-active[data-v-177042d5],.slideuponly-leave-active.popup-view[data-v-177042d5] {
    animation-duration: .5s;
    animation-name: slideupleave-177042d5;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-177042d5],.slideupleaveonly-leave-active .top-area[data-v-177042d5],.slideuponly-leave-active.popup-view .top-area[data-v-177042d5] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-177042d5] {
    animation-duration: .5s;
    animation-name: slidein-177042d5;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-177042d5] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-177042d5] {
    animation-duration: .5s;
    animation-name: slideout-177042d5;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-177042d5] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-177042d5],.slideupleaveonly-enter-active[data-v-177042d5],.slideupleaveonly-leave-active[data-v-177042d5],.slideuponly-leave-active.popup-view[data-v-177042d5] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-177042d5] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-177042d5],.slideinleaveonly-leave-active[data-v-177042d5] {
    width: 100vmin
}

.toastFade-enter-active[data-v-177042d5],.toastFade-leave-active[data-v-177042d5] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-177042d5],.toastFade-leave-to[data-v-177042d5] {
    opacity: 0
}

.blind[data-v-177042d5] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-177042d5] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-177042d5]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-177042d5]:before {
    left: 3px;
    top: 9px
}

ul[data-v-177042d5] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

.phone-verification .register-input[data-v-177042d5] {
    margin-bottom: 16px
}

.phone-verification .resend[data-v-177042d5] {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px
}

.paragraph_list[data-v-e6355ff9] {
    font-size: 12px;
    font-weight: 400
}

.label[data-v-e6355ff9] {
    font-size: 13px;
    font-weight: 600
}

.register-required-input .gender__radio[data-v-e6355ff9] {
    font-size: 16px;
    font-weight: 600
}

html[data-v-e6355ff9] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-e6355ff9] {
    display: block
}

h1[data-v-e6355ff9] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-e6355ff9] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-e6355ff9] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-e6355ff9] {
    background-color: transparent
}

abbr[title][data-v-e6355ff9] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-e6355ff9],strong[data-v-e6355ff9] {
    font-weight: 600
}

code[data-v-e6355ff9],kbd[data-v-e6355ff9],samp[data-v-e6355ff9] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-e6355ff9] {
    font-size: 80%
}

sub[data-v-e6355ff9],sup[data-v-e6355ff9] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-e6355ff9] {
    bottom: -.25em
}

sup[data-v-e6355ff9] {
    top: -.5em
}

img[data-v-e6355ff9] {
    border-style: none
}

button[data-v-e6355ff9],input[data-v-e6355ff9],optgroup[data-v-e6355ff9],select[data-v-e6355ff9],textarea[data-v-e6355ff9] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-e6355ff9],input[data-v-e6355ff9] {
    overflow: visible
}

button[data-v-e6355ff9],select[data-v-e6355ff9] {
    text-transform: none
}

[type=button][data-v-e6355ff9],[type=reset][data-v-e6355ff9],[type=submit][data-v-e6355ff9],button[data-v-e6355ff9] {
    -webkit-appearance: button
}

[type=button][data-v-e6355ff9]::-moz-focus-inner,[type=reset][data-v-e6355ff9]::-moz-focus-inner,[type=submit][data-v-e6355ff9]::-moz-focus-inner,button[data-v-e6355ff9]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-e6355ff9]:-moz-focusring,[type=reset][data-v-e6355ff9]:-moz-focusring,[type=submit][data-v-e6355ff9]:-moz-focusring,button[data-v-e6355ff9]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-e6355ff9] {
    padding: .35em .75em .625em
}

legend[data-v-e6355ff9] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-e6355ff9] {
    vertical-align: baseline
}

textarea[data-v-e6355ff9] {
    overflow: auto
}

[type=checkbox][data-v-e6355ff9],[type=radio][data-v-e6355ff9] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-e6355ff9]::-webkit-inner-spin-button,[type=number][data-v-e6355ff9]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-e6355ff9] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-e6355ff9]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-e6355ff9]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-e6355ff9] {
    display: block
}

summary[data-v-e6355ff9] {
    display: list-item
}

[hidden][data-v-e6355ff9],template[data-v-e6355ff9] {
    display: none
}

*[data-v-e6355ff9],body[data-v-e6355ff9] {
    box-sizing: border-box
}

body[data-v-e6355ff9] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-e6355ff9 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-e6355ff9 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-e6355ff9 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-e6355ff9 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-e6355ff9 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-e6355ff9] {
    animation-duration: .5s;
    animation-name: slideup-e6355ff9;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-e6355ff9] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-e6355ff9],.slideupleaveonly-leave-active[data-v-e6355ff9],.slideuponly-leave-active.popup-view[data-v-e6355ff9] {
    animation-duration: .5s;
    animation-name: slideupleave-e6355ff9;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-e6355ff9],.slideupleaveonly-leave-active .top-area[data-v-e6355ff9],.slideuponly-leave-active.popup-view .top-area[data-v-e6355ff9] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-e6355ff9] {
    animation-duration: .5s;
    animation-name: slidein-e6355ff9;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-e6355ff9] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-e6355ff9] {
    animation-duration: .5s;
    animation-name: slideout-e6355ff9;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-e6355ff9] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-e6355ff9],.slideupleaveonly-enter-active[data-v-e6355ff9],.slideupleaveonly-leave-active[data-v-e6355ff9],.slideuponly-leave-active.popup-view[data-v-e6355ff9] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-e6355ff9] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-e6355ff9],.slideinleaveonly-leave-active[data-v-e6355ff9] {
    width: 100vmin
}

.toastFade-enter-active[data-v-e6355ff9],.toastFade-leave-active[data-v-e6355ff9] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-e6355ff9],.toastFade-leave-to[data-v-e6355ff9] {
    opacity: 0
}

.blind[data-v-e6355ff9] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-e6355ff9] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-e6355ff9]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-e6355ff9]:before {
    left: 3px;
    top: 9px
}

ul[data-v-e6355ff9] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

@media screen and (max-width: 743px) {
    .register-required-input[data-v-e6355ff9] {
        padding-bottom:28px
    }
}

.register-required-input .dob[data-v-e6355ff9],.register-required-input .register-input[data-v-e6355ff9] {
    margin-bottom: 16px
}

.register-required-input .dob__dropdown[data-v-e6355ff9] {
    align-items: center;
    display: flex
}

.register-required-input .dob__dropdown>*[data-v-e6355ff9] {
    margin-right: 8px
}

.register-required-input .dob__dropdown[data-v-e6355ff9]>:last-child {
    margin-right: 0
}

.register-required-input .dob__dropdown[data-v-e6355ff9]>:first-child {
    margin-right: 8px
}

.register-required-input .dob__dropdown .day[data-v-e6355ff9],.register-required-input .dob__dropdown .month[data-v-e6355ff9],.register-required-input .dob__dropdown .year[data-v-e6355ff9] {
    width: 33.3333333333%
}

.register-required-input .gender[data-v-e6355ff9] {
    margin-bottom: 16px
}

.register-required-input .gender__radio[data-v-e6355ff9] {
    align-items: center;
    display: flex;
    margin-top: 20px
}

.register-required-input .gender__radio .female[data-v-e6355ff9] {
    margin-left: 18px
}

.register-required-input .gender__radio .male[data-v-e6355ff9] {
    margin-left: 132px
}

.register-required-input .nickname[data-v-e6355ff9] {
    margin-bottom: 24px
}

.register-required-input .nickname button[data-v-e6355ff9] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.label[data-v-e6355ff9] {
    color: #000000a3;
    line-height: 16px;
    margin: 4px 0;
    position: relative;
    width: -moz-fit-content;
    width: fit-content
}

.label[data-v-e6355ff9]:after {
    background-color: #f45858;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    right: -5px;
    top: 0;
    width: 4px
}

.paragraph_list[data-v-3eae7dc7] {
    font-size: 12px;
    font-weight: 400
}

.success p[data-v-3eae7dc7] {
    font-size: 16px;
    font-weight: 500
}

.success h1[data-v-3eae7dc7] {
    font-size: 24px;
    font-weight: 700
}

html[data-v-3eae7dc7] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-3eae7dc7] {
    display: block
}

h1[data-v-3eae7dc7] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-3eae7dc7] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-3eae7dc7] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-3eae7dc7] {
    background-color: transparent
}

abbr[title][data-v-3eae7dc7] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-3eae7dc7],strong[data-v-3eae7dc7] {
    font-weight: 600
}

code[data-v-3eae7dc7],kbd[data-v-3eae7dc7],samp[data-v-3eae7dc7] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-3eae7dc7] {
    font-size: 80%
}

sub[data-v-3eae7dc7],sup[data-v-3eae7dc7] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-3eae7dc7] {
    bottom: -.25em
}

sup[data-v-3eae7dc7] {
    top: -.5em
}

img[data-v-3eae7dc7] {
    border-style: none
}

button[data-v-3eae7dc7],input[data-v-3eae7dc7],optgroup[data-v-3eae7dc7],select[data-v-3eae7dc7],textarea[data-v-3eae7dc7] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-3eae7dc7],input[data-v-3eae7dc7] {
    overflow: visible
}

button[data-v-3eae7dc7],select[data-v-3eae7dc7] {
    text-transform: none
}

[type=button][data-v-3eae7dc7],[type=reset][data-v-3eae7dc7],[type=submit][data-v-3eae7dc7],button[data-v-3eae7dc7] {
    -webkit-appearance: button
}

[type=button][data-v-3eae7dc7]::-moz-focus-inner,[type=reset][data-v-3eae7dc7]::-moz-focus-inner,[type=submit][data-v-3eae7dc7]::-moz-focus-inner,button[data-v-3eae7dc7]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-3eae7dc7]:-moz-focusring,[type=reset][data-v-3eae7dc7]:-moz-focusring,[type=submit][data-v-3eae7dc7]:-moz-focusring,button[data-v-3eae7dc7]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-3eae7dc7] {
    padding: .35em .75em .625em
}

legend[data-v-3eae7dc7] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-3eae7dc7] {
    vertical-align: baseline
}

textarea[data-v-3eae7dc7] {
    overflow: auto
}

[type=checkbox][data-v-3eae7dc7],[type=radio][data-v-3eae7dc7] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-3eae7dc7]::-webkit-inner-spin-button,[type=number][data-v-3eae7dc7]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-3eae7dc7] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-3eae7dc7]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-3eae7dc7]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-3eae7dc7] {
    display: block
}

summary[data-v-3eae7dc7] {
    display: list-item
}

[hidden][data-v-3eae7dc7],template[data-v-3eae7dc7] {
    display: none
}

*[data-v-3eae7dc7],body[data-v-3eae7dc7] {
    box-sizing: border-box
}

body[data-v-3eae7dc7] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-3eae7dc7 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-3eae7dc7 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-3eae7dc7 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-3eae7dc7 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-3eae7dc7 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-3eae7dc7] {
    animation-duration: .5s;
    animation-name: slideup-3eae7dc7;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-3eae7dc7] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-3eae7dc7],.slideupleaveonly-leave-active[data-v-3eae7dc7],.slideuponly-leave-active.popup-view[data-v-3eae7dc7] {
    animation-duration: .5s;
    animation-name: slideupleave-3eae7dc7;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-3eae7dc7],.slideupleaveonly-leave-active .top-area[data-v-3eae7dc7],.slideuponly-leave-active.popup-view .top-area[data-v-3eae7dc7] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-3eae7dc7] {
    animation-duration: .5s;
    animation-name: slidein-3eae7dc7;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-3eae7dc7] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-3eae7dc7] {
    animation-duration: .5s;
    animation-name: slideout-3eae7dc7;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-3eae7dc7] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-3eae7dc7],.slideupleaveonly-enter-active[data-v-3eae7dc7],.slideupleaveonly-leave-active[data-v-3eae7dc7],.slideuponly-leave-active.popup-view[data-v-3eae7dc7] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-3eae7dc7] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-3eae7dc7],.slideinleaveonly-leave-active[data-v-3eae7dc7] {
    width: 100vmin
}

.toastFade-enter-active[data-v-3eae7dc7],.toastFade-leave-active[data-v-3eae7dc7] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-3eae7dc7],.toastFade-leave-to[data-v-3eae7dc7] {
    opacity: 0
}

.blind[data-v-3eae7dc7] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-3eae7dc7] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-3eae7dc7]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-3eae7dc7]:before {
    left: 3px;
    top: 9px
}

ul[data-v-3eae7dc7] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

.success[data-v-3eae7dc7] {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 152px
}

.success__lottie[data-v-3eae7dc7] {
    height: 70px;
    width: 70px
}

.success h1[data-v-3eae7dc7] {
    margin: 20px 0 8px
}

.success p[data-v-3eae7dc7] {
    color: #c2c2c2;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center
}

.success button[data-v-3eae7dc7] {
    width: 148px
}

.content[data-v-e12fccb5],.paragraph_list[data-v-e12fccb5] {
    font-size: 12px;
    font-weight: 400
}

html[data-v-e12fccb5] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-e12fccb5] {
    display: block
}

h1[data-v-e12fccb5] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-e12fccb5] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-e12fccb5] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-e12fccb5] {
    background-color: transparent
}

abbr[title][data-v-e12fccb5] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-e12fccb5],strong[data-v-e12fccb5] {
    font-weight: 600
}

code[data-v-e12fccb5],kbd[data-v-e12fccb5],samp[data-v-e12fccb5] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-e12fccb5] {
    font-size: 80%
}

sub[data-v-e12fccb5],sup[data-v-e12fccb5] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-e12fccb5] {
    bottom: -.25em
}

sup[data-v-e12fccb5] {
    top: -.5em
}

img[data-v-e12fccb5] {
    border-style: none
}

button[data-v-e12fccb5],input[data-v-e12fccb5],optgroup[data-v-e12fccb5],select[data-v-e12fccb5],textarea[data-v-e12fccb5] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-e12fccb5],input[data-v-e12fccb5] {
    overflow: visible
}

button[data-v-e12fccb5],select[data-v-e12fccb5] {
    text-transform: none
}

[type=button][data-v-e12fccb5],[type=reset][data-v-e12fccb5],[type=submit][data-v-e12fccb5],button[data-v-e12fccb5] {
    -webkit-appearance: button
}

[type=button][data-v-e12fccb5]::-moz-focus-inner,[type=reset][data-v-e12fccb5]::-moz-focus-inner,[type=submit][data-v-e12fccb5]::-moz-focus-inner,button[data-v-e12fccb5]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-e12fccb5]:-moz-focusring,[type=reset][data-v-e12fccb5]:-moz-focusring,[type=submit][data-v-e12fccb5]:-moz-focusring,button[data-v-e12fccb5]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-e12fccb5] {
    padding: .35em .75em .625em
}

legend[data-v-e12fccb5] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-e12fccb5] {
    vertical-align: baseline
}

textarea[data-v-e12fccb5] {
    overflow: auto
}

[type=checkbox][data-v-e12fccb5],[type=radio][data-v-e12fccb5] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-e12fccb5]::-webkit-inner-spin-button,[type=number][data-v-e12fccb5]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-e12fccb5] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-e12fccb5]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-e12fccb5]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-e12fccb5] {
    display: block
}

summary[data-v-e12fccb5] {
    display: list-item
}

[hidden][data-v-e12fccb5],template[data-v-e12fccb5] {
    display: none
}

*[data-v-e12fccb5],body[data-v-e12fccb5] {
    box-sizing: border-box
}

body[data-v-e12fccb5] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-e12fccb5 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-e12fccb5 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-e12fccb5 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-e12fccb5 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-e12fccb5 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-e12fccb5] {
    animation-duration: .5s;
    animation-name: slideup-e12fccb5;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-e12fccb5] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-e12fccb5],.slideupleaveonly-leave-active[data-v-e12fccb5],.slideuponly-leave-active.popup-view[data-v-e12fccb5] {
    animation-duration: .5s;
    animation-name: slideupleave-e12fccb5;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-e12fccb5],.slideupleaveonly-leave-active .top-area[data-v-e12fccb5],.slideuponly-leave-active.popup-view .top-area[data-v-e12fccb5] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-e12fccb5] {
    animation-duration: .5s;
    animation-name: slidein-e12fccb5;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-e12fccb5] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-e12fccb5] {
    animation-duration: .5s;
    animation-name: slideout-e12fccb5;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-e12fccb5] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-e12fccb5],.slideupleaveonly-enter-active[data-v-e12fccb5],.slideupleaveonly-leave-active[data-v-e12fccb5],.slideuponly-leave-active.popup-view[data-v-e12fccb5] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-e12fccb5] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-e12fccb5],.slideinleaveonly-leave-active[data-v-e12fccb5] {
    width: 100vmin
}

.toastFade-enter-active[data-v-e12fccb5],.toastFade-leave-active[data-v-e12fccb5] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-e12fccb5],.toastFade-leave-to[data-v-e12fccb5] {
    opacity: 0
}

.blind[data-v-e12fccb5] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-e12fccb5] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-e12fccb5]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-e12fccb5]:before {
    left: 3px;
    top: 9px
}

ul[data-v-e12fccb5] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

.content[data-v-e12fccb5] {
    color: #707070;
    line-height: 16px
}

.content hr[data-v-e12fccb5] {
    border: .5px solid #ebebeb;
    margin: 24px 0 12px
}

.content__info[data-v-e12fccb5] {
    background: #f5f7fa;
    border-radius: 8px;
    padding: 14px 20px 9px
}

.content__info ul li[data-v-e12fccb5] {
    height: 25px
}

.content__info ul li[data-v-e12fccb5]:before {
    color: #9aa9b8;
    content: "•";
    display: inline-block;
    width: 12px
}

.content__caption[data-v-e12fccb5] {
    text-align: center
}

.paragraph_list[data-v-95ef3038] {
    font-size: 12px;
    font-weight: 400
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html[data-v-95ef3038] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-95ef3038] {
    display: block
}

h1[data-v-95ef3038] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-95ef3038] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-95ef3038] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-95ef3038] {
    background-color: transparent
}

abbr[title][data-v-95ef3038] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-95ef3038],strong[data-v-95ef3038] {
    font-weight: 600
}

code[data-v-95ef3038],kbd[data-v-95ef3038],samp[data-v-95ef3038] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-95ef3038] {
    font-size: 80%
}

sub[data-v-95ef3038],sup[data-v-95ef3038] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-95ef3038] {
    bottom: -.25em
}

sup[data-v-95ef3038] {
    top: -.5em
}

img[data-v-95ef3038] {
    border-style: none
}

button[data-v-95ef3038],input[data-v-95ef3038],optgroup[data-v-95ef3038],select[data-v-95ef3038],textarea[data-v-95ef3038] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-95ef3038],input[data-v-95ef3038] {
    overflow: visible
}

button[data-v-95ef3038],select[data-v-95ef3038] {
    text-transform: none
}

[type=button][data-v-95ef3038],[type=reset][data-v-95ef3038],[type=submit][data-v-95ef3038],button[data-v-95ef3038] {
    -webkit-appearance: button
}

[type=button][data-v-95ef3038]::-moz-focus-inner,[type=reset][data-v-95ef3038]::-moz-focus-inner,[type=submit][data-v-95ef3038]::-moz-focus-inner,button[data-v-95ef3038]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-95ef3038]:-moz-focusring,[type=reset][data-v-95ef3038]:-moz-focusring,[type=submit][data-v-95ef3038]:-moz-focusring,button[data-v-95ef3038]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-95ef3038] {
    padding: .35em .75em .625em
}

legend[data-v-95ef3038] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-95ef3038] {
    vertical-align: baseline
}

textarea[data-v-95ef3038] {
    overflow: auto
}

[type=checkbox][data-v-95ef3038],[type=radio][data-v-95ef3038] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-95ef3038]::-webkit-inner-spin-button,[type=number][data-v-95ef3038]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-95ef3038] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-95ef3038]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-95ef3038]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-95ef3038] {
    display: block
}

summary[data-v-95ef3038] {
    display: list-item
}

[hidden][data-v-95ef3038],template[data-v-95ef3038] {
    display: none
}

*[data-v-95ef3038],body[data-v-95ef3038] {
    box-sizing: border-box
}

body[data-v-95ef3038] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-95ef3038 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-95ef3038 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-95ef3038 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-95ef3038 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-95ef3038 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-95ef3038] {
    animation-duration: .5s;
    animation-name: slideup-95ef3038;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-95ef3038] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-95ef3038],.slideupleaveonly-leave-active[data-v-95ef3038],.slideuponly-leave-active.popup-view[data-v-95ef3038] {
    animation-duration: .5s;
    animation-name: slideupleave-95ef3038;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-95ef3038],.slideupleaveonly-leave-active .top-area[data-v-95ef3038],.slideuponly-leave-active.popup-view .top-area[data-v-95ef3038] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-95ef3038] {
    animation-duration: .5s;
    animation-name: slidein-95ef3038;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-95ef3038] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-95ef3038] {
    animation-duration: .5s;
    animation-name: slideout-95ef3038;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-95ef3038] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-95ef3038],.slideupleaveonly-enter-active[data-v-95ef3038],.slideupleaveonly-leave-active[data-v-95ef3038],.slideuponly-leave-active.popup-view[data-v-95ef3038] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-95ef3038] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-95ef3038],.slideinleaveonly-leave-active[data-v-95ef3038] {
    width: 100vmin
}

.toastFade-enter-active[data-v-95ef3038],.toastFade-leave-active[data-v-95ef3038] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-95ef3038],.toastFade-leave-to[data-v-95ef3038] {
    opacity: 0
}

.blind[data-v-95ef3038] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-95ef3038] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-95ef3038]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-95ef3038]:before {
    left: 3px;
    top: 9px
}

ul[data-v-95ef3038] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

.register[data-v-95ef3038] {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 384px;
    padding: 56px 0 20px
}

@media screen and (max-width: 911.9px) {
    .register[data-v-95ef3038] {
        max-width:400px;
        padding: 0 0 20px
    }
}

@media screen and (max-width: 439px) {
    .register[data-v-95ef3038] {
        max-width:unset;
        padding: 0 20px 20px;
        width: 100%
    }
}
