.paragraph_list[data-v-4cae4d1b] {
    font-size: 12px;
    font-weight: 400
}

html[data-v-4cae4d1b] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-4cae4d1b] {
    display: block
}

h1[data-v-4cae4d1b] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-4cae4d1b] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-4cae4d1b] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-4cae4d1b] {
    background-color: transparent
}

abbr[title][data-v-4cae4d1b] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-4cae4d1b],strong[data-v-4cae4d1b] {
    font-weight: 600
}

code[data-v-4cae4d1b],kbd[data-v-4cae4d1b],samp[data-v-4cae4d1b] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-4cae4d1b] {
    font-size: 80%
}

sub[data-v-4cae4d1b],sup[data-v-4cae4d1b] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-4cae4d1b] {
    bottom: -.25em
}

sup[data-v-4cae4d1b] {
    top: -.5em
}

img[data-v-4cae4d1b] {
    border-style: none
}

button[data-v-4cae4d1b],input[data-v-4cae4d1b],optgroup[data-v-4cae4d1b],select[data-v-4cae4d1b],textarea[data-v-4cae4d1b] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-4cae4d1b],input[data-v-4cae4d1b] {
    overflow: visible
}

button[data-v-4cae4d1b],select[data-v-4cae4d1b] {
    text-transform: none
}

[type=button][data-v-4cae4d1b],[type=reset][data-v-4cae4d1b],[type=submit][data-v-4cae4d1b],button[data-v-4cae4d1b] {
    -webkit-appearance: button
}

[type=button][data-v-4cae4d1b]::-moz-focus-inner,[type=reset][data-v-4cae4d1b]::-moz-focus-inner,[type=submit][data-v-4cae4d1b]::-moz-focus-inner,button[data-v-4cae4d1b]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-4cae4d1b]:-moz-focusring,[type=reset][data-v-4cae4d1b]:-moz-focusring,[type=submit][data-v-4cae4d1b]:-moz-focusring,button[data-v-4cae4d1b]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-4cae4d1b] {
    padding: .35em .75em .625em
}

legend[data-v-4cae4d1b] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-4cae4d1b] {
    vertical-align: baseline
}

textarea[data-v-4cae4d1b] {
    overflow: auto
}

[type=checkbox][data-v-4cae4d1b],[type=radio][data-v-4cae4d1b] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-4cae4d1b]::-webkit-inner-spin-button,[type=number][data-v-4cae4d1b]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-4cae4d1b] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-4cae4d1b]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-4cae4d1b]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-4cae4d1b] {
    display: block
}

summary[data-v-4cae4d1b] {
    display: list-item
}

[hidden][data-v-4cae4d1b],template[data-v-4cae4d1b] {
    display: none
}

*[data-v-4cae4d1b],body[data-v-4cae4d1b] {
    box-sizing: border-box
}

body[data-v-4cae4d1b] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-4cae4d1b {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-4cae4d1b {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-4cae4d1b {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-4cae4d1b {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-4cae4d1b {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-4cae4d1b] {
    animation-duration: .5s;
    animation-name: slideup-4cae4d1b;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-4cae4d1b] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-4cae4d1b],.slideupleaveonly-leave-active[data-v-4cae4d1b],.slideuponly-leave-active.popup-view[data-v-4cae4d1b] {
    animation-duration: .5s;
    animation-name: slideupleave-4cae4d1b;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-4cae4d1b],.slideupleaveonly-leave-active .top-area[data-v-4cae4d1b],.slideuponly-leave-active.popup-view .top-area[data-v-4cae4d1b] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-4cae4d1b] {
    animation-duration: .5s;
    animation-name: slidein-4cae4d1b;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-4cae4d1b] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-4cae4d1b] {
    animation-duration: .5s;
    animation-name: slideout-4cae4d1b;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-4cae4d1b] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-4cae4d1b],.slideupleaveonly-enter-active[data-v-4cae4d1b],.slideupleaveonly-leave-active[data-v-4cae4d1b],.slideuponly-leave-active.popup-view[data-v-4cae4d1b] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-4cae4d1b] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-4cae4d1b],.slideinleaveonly-leave-active[data-v-4cae4d1b] {
    width: 100vmin
}

.toastFade-enter-active[data-v-4cae4d1b],.toastFade-leave-active[data-v-4cae4d1b] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-4cae4d1b],.toastFade-leave-to[data-v-4cae4d1b] {
    opacity: 0
}

.blind[data-v-4cae4d1b] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-4cae4d1b] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-4cae4d1b]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-4cae4d1b]:before {
    left: 3px;
    top: 9px
}

ul[data-v-4cae4d1b] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

form .password-reset-input[data-v-4cae4d1b] {
    margin-bottom: 24px
}

.paragraph_list[data-v-a4354450] {
    font-size: 12px;
    font-weight: 400
}

section .verification-list li label span .sub-label[data-v-a4354450] {
    font-size: 13px;
    font-weight: 400
}

section .verification-list li label span[data-v-a4354450] {
    font-size: 16px;
    font-weight: 600
}

html[data-v-a4354450] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-a4354450] {
    display: block
}

h1[data-v-a4354450] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-a4354450] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-a4354450] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-a4354450] {
    background-color: transparent
}

abbr[title][data-v-a4354450] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-a4354450],strong[data-v-a4354450] {
    font-weight: 600
}

code[data-v-a4354450],kbd[data-v-a4354450],samp[data-v-a4354450] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-a4354450] {
    font-size: 80%
}

sub[data-v-a4354450],sup[data-v-a4354450] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-a4354450] {
    bottom: -.25em
}

sup[data-v-a4354450] {
    top: -.5em
}

img[data-v-a4354450] {
    border-style: none
}

button[data-v-a4354450],input[data-v-a4354450],optgroup[data-v-a4354450],select[data-v-a4354450],textarea[data-v-a4354450] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-a4354450],input[data-v-a4354450] {
    overflow: visible
}

button[data-v-a4354450],select[data-v-a4354450] {
    text-transform: none
}

[type=button][data-v-a4354450],[type=reset][data-v-a4354450],[type=submit][data-v-a4354450],button[data-v-a4354450] {
    -webkit-appearance: button
}

[type=button][data-v-a4354450]::-moz-focus-inner,[type=reset][data-v-a4354450]::-moz-focus-inner,[type=submit][data-v-a4354450]::-moz-focus-inner,button[data-v-a4354450]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-a4354450]:-moz-focusring,[type=reset][data-v-a4354450]:-moz-focusring,[type=submit][data-v-a4354450]:-moz-focusring,button[data-v-a4354450]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-a4354450] {
    padding: .35em .75em .625em
}

legend[data-v-a4354450] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-a4354450] {
    vertical-align: baseline
}

textarea[data-v-a4354450] {
    overflow: auto
}

[type=checkbox][data-v-a4354450],[type=radio][data-v-a4354450] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-a4354450]::-webkit-inner-spin-button,[type=number][data-v-a4354450]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-a4354450] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-a4354450]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-a4354450]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-a4354450] {
    display: block
}

summary[data-v-a4354450] {
    display: list-item
}

[hidden][data-v-a4354450],template[data-v-a4354450] {
    display: none
}

*[data-v-a4354450],body[data-v-a4354450] {
    box-sizing: border-box
}

body[data-v-a4354450] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-a4354450 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-a4354450 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-a4354450 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-a4354450 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-a4354450 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-a4354450] {
    animation-duration: .5s;
    animation-name: slideup-a4354450;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-a4354450] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-a4354450],.slideupleaveonly-leave-active[data-v-a4354450],.slideuponly-leave-active.popup-view[data-v-a4354450] {
    animation-duration: .5s;
    animation-name: slideupleave-a4354450;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-a4354450],.slideupleaveonly-leave-active .top-area[data-v-a4354450],.slideuponly-leave-active.popup-view .top-area[data-v-a4354450] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-a4354450] {
    animation-duration: .5s;
    animation-name: slidein-a4354450;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-a4354450] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-a4354450] {
    animation-duration: .5s;
    animation-name: slideout-a4354450;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-a4354450] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-a4354450],.slideupleaveonly-enter-active[data-v-a4354450],.slideupleaveonly-leave-active[data-v-a4354450],.slideuponly-leave-active.popup-view[data-v-a4354450] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-a4354450] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-a4354450],.slideinleaveonly-leave-active[data-v-a4354450] {
    width: 100vmin
}

.toastFade-enter-active[data-v-a4354450],.toastFade-leave-active[data-v-a4354450] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-a4354450],.toastFade-leave-to[data-v-a4354450] {
    opacity: 0
}

.blind[data-v-a4354450] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-a4354450] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-a4354450]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-a4354450]:before {
    left: 3px;
    top: 9px
}

ul[data-v-a4354450] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

section .verification-list[data-v-a4354450] {
    margin-bottom: 24px
}

section .verification-list li[data-v-a4354450] {
    align-items: flex-start;
    display: flex;
    height: 64px;
    padding: 12px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

section .verification-list li .verification-radio-option[data-v-a4354450] {
    margin-top: 4px
}

section .verification-list li label[data-v-a4354450] {
    display: inline-flex
}

section .verification-list li label span[data-v-a4354450] {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1px
}

section .verification-list li label span .sub-label[data-v-a4354450] {
    color: #c2c2c2;
    line-height: 20px
}

.paragraph_list[data-v-99eeb1b0] {
    font-size: 12px;
    font-weight: 400
}

html[data-v-99eeb1b0] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-99eeb1b0] {
    display: block
}

h1[data-v-99eeb1b0] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-99eeb1b0] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-99eeb1b0] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-99eeb1b0] {
    background-color: transparent
}

abbr[title][data-v-99eeb1b0] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-99eeb1b0],strong[data-v-99eeb1b0] {
    font-weight: 600
}

code[data-v-99eeb1b0],kbd[data-v-99eeb1b0],samp[data-v-99eeb1b0] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-99eeb1b0] {
    font-size: 80%
}

sub[data-v-99eeb1b0],sup[data-v-99eeb1b0] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-99eeb1b0] {
    bottom: -.25em
}

sup[data-v-99eeb1b0] {
    top: -.5em
}

img[data-v-99eeb1b0] {
    border-style: none
}

button[data-v-99eeb1b0],input[data-v-99eeb1b0],optgroup[data-v-99eeb1b0],select[data-v-99eeb1b0],textarea[data-v-99eeb1b0] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-99eeb1b0],input[data-v-99eeb1b0] {
    overflow: visible
}

button[data-v-99eeb1b0],select[data-v-99eeb1b0] {
    text-transform: none
}

[type=button][data-v-99eeb1b0],[type=reset][data-v-99eeb1b0],[type=submit][data-v-99eeb1b0],button[data-v-99eeb1b0] {
    -webkit-appearance: button
}

[type=button][data-v-99eeb1b0]::-moz-focus-inner,[type=reset][data-v-99eeb1b0]::-moz-focus-inner,[type=submit][data-v-99eeb1b0]::-moz-focus-inner,button[data-v-99eeb1b0]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-99eeb1b0]:-moz-focusring,[type=reset][data-v-99eeb1b0]:-moz-focusring,[type=submit][data-v-99eeb1b0]:-moz-focusring,button[data-v-99eeb1b0]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-99eeb1b0] {
    padding: .35em .75em .625em
}

legend[data-v-99eeb1b0] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-99eeb1b0] {
    vertical-align: baseline
}

textarea[data-v-99eeb1b0] {
    overflow: auto
}

[type=checkbox][data-v-99eeb1b0],[type=radio][data-v-99eeb1b0] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-99eeb1b0]::-webkit-inner-spin-button,[type=number][data-v-99eeb1b0]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-99eeb1b0] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-99eeb1b0]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-99eeb1b0]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-99eeb1b0] {
    display: block
}

summary[data-v-99eeb1b0] {
    display: list-item
}

[hidden][data-v-99eeb1b0],template[data-v-99eeb1b0] {
    display: none
}

*[data-v-99eeb1b0],body[data-v-99eeb1b0] {
    box-sizing: border-box
}

body[data-v-99eeb1b0] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-99eeb1b0 {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-99eeb1b0 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-99eeb1b0 {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-99eeb1b0 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-99eeb1b0 {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-99eeb1b0] {
    animation-duration: .5s;
    animation-name: slideup-99eeb1b0;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-99eeb1b0] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-99eeb1b0],.slideupleaveonly-leave-active[data-v-99eeb1b0],.slideuponly-leave-active.popup-view[data-v-99eeb1b0] {
    animation-duration: .5s;
    animation-name: slideupleave-99eeb1b0;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-99eeb1b0],.slideupleaveonly-leave-active .top-area[data-v-99eeb1b0],.slideuponly-leave-active.popup-view .top-area[data-v-99eeb1b0] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-99eeb1b0] {
    animation-duration: .5s;
    animation-name: slidein-99eeb1b0;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-99eeb1b0] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-99eeb1b0] {
    animation-duration: .5s;
    animation-name: slideout-99eeb1b0;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-99eeb1b0] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-99eeb1b0],.slideupleaveonly-enter-active[data-v-99eeb1b0],.slideupleaveonly-leave-active[data-v-99eeb1b0],.slideuponly-leave-active.popup-view[data-v-99eeb1b0] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-99eeb1b0] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-99eeb1b0],.slideinleaveonly-leave-active[data-v-99eeb1b0] {
    width: 100vmin
}

.toastFade-enter-active[data-v-99eeb1b0],.toastFade-leave-active[data-v-99eeb1b0] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-99eeb1b0],.toastFade-leave-to[data-v-99eeb1b0] {
    opacity: 0
}

.blind[data-v-99eeb1b0] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-99eeb1b0] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-99eeb1b0]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-99eeb1b0]:before {
    left: 3px;
    top: 9px
}

ul[data-v-99eeb1b0] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

section .password-reset-input[data-v-99eeb1b0] {
    margin-bottom: 16px
}

section .resend[data-v-99eeb1b0] {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px
}

.paragraph_list[data-v-df01ff8c] {
    font-size: 12px;
    font-weight: 400
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html[data-v-df01ff8c] {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

main[data-v-df01ff8c] {
    display: block
}

h1[data-v-df01ff8c] {
    font-size: 2em;
    margin: .67em 0
}

hr[data-v-df01ff8c] {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre[data-v-df01ff8c] {
    font-family: monospace,monospace;
    font-size: 1em
}

a[data-v-df01ff8c] {
    background-color: transparent
}

abbr[title][data-v-df01ff8c] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b[data-v-df01ff8c],strong[data-v-df01ff8c] {
    font-weight: 600
}

code[data-v-df01ff8c],kbd[data-v-df01ff8c],samp[data-v-df01ff8c] {
    font-family: monospace,monospace;
    font-size: 1em
}

small[data-v-df01ff8c] {
    font-size: 80%
}

sub[data-v-df01ff8c],sup[data-v-df01ff8c] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub[data-v-df01ff8c] {
    bottom: -.25em
}

sup[data-v-df01ff8c] {
    top: -.5em
}

img[data-v-df01ff8c] {
    border-style: none
}

button[data-v-df01ff8c],input[data-v-df01ff8c],optgroup[data-v-df01ff8c],select[data-v-df01ff8c],textarea[data-v-df01ff8c] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button[data-v-df01ff8c],input[data-v-df01ff8c] {
    overflow: visible
}

button[data-v-df01ff8c],select[data-v-df01ff8c] {
    text-transform: none
}

[type=button][data-v-df01ff8c],[type=reset][data-v-df01ff8c],[type=submit][data-v-df01ff8c],button[data-v-df01ff8c] {
    -webkit-appearance: button
}

[type=button][data-v-df01ff8c]::-moz-focus-inner,[type=reset][data-v-df01ff8c]::-moz-focus-inner,[type=submit][data-v-df01ff8c]::-moz-focus-inner,button[data-v-df01ff8c]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button][data-v-df01ff8c]:-moz-focusring,[type=reset][data-v-df01ff8c]:-moz-focusring,[type=submit][data-v-df01ff8c]:-moz-focusring,button[data-v-df01ff8c]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset[data-v-df01ff8c] {
    padding: .35em .75em .625em
}

legend[data-v-df01ff8c] {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress[data-v-df01ff8c] {
    vertical-align: baseline
}

textarea[data-v-df01ff8c] {
    overflow: auto
}

[type=checkbox][data-v-df01ff8c],[type=radio][data-v-df01ff8c] {
    box-sizing: border-box;
    padding: 0
}

[type=number][data-v-df01ff8c]::-webkit-inner-spin-button,[type=number][data-v-df01ff8c]::-webkit-outer-spin-button {
    height: auto
}

[type=search][data-v-df01ff8c] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search][data-v-df01ff8c]::-webkit-search-decoration {
    -webkit-appearance: none
}

[data-v-df01ff8c]::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details[data-v-df01ff8c] {
    display: block
}

summary[data-v-df01ff8c] {
    display: list-item
}

[hidden][data-v-df01ff8c],template[data-v-df01ff8c] {
    display: none
}

*[data-v-df01ff8c],body[data-v-df01ff8c] {
    box-sizing: border-box
}

body[data-v-df01ff8c] {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

@keyframes slidein-df01ff8c {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideout-df01ff8c {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100vmin)
    }
}

@keyframes slideup-df01ff8c {
    0% {
        top: 100vh
    }

    to {
        top: 0
    }
}

@keyframes slideupleave-df01ff8c {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

@keyframes slidedown-df01ff8c {
    0% {
        top: 0
    }

    to {
        top: 100vh
    }
}

.slideuponly-enter-active.popup-view[data-v-df01ff8c] {
    animation-duration: .5s;
    animation-name: slideup-df01ff8c;
    left: 0;
    top: 0
}

.slideuponly-enter-active.popup-view .top-area[data-v-df01ff8c] {
    position: absolute!important
}

.slideupleaveonly-enter-active[data-v-df01ff8c],.slideupleaveonly-leave-active[data-v-df01ff8c],.slideuponly-leave-active.popup-view[data-v-df01ff8c] {
    animation-duration: .5s;
    animation-name: slideupleave-df01ff8c;
    background: #fff
}

.slideupleaveonly-enter-active .top-area[data-v-df01ff8c],.slideupleaveonly-leave-active .top-area[data-v-df01ff8c],.slideuponly-leave-active.popup-view .top-area[data-v-df01ff8c] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-df01ff8c] {
    animation-duration: .5s;
    animation-name: slidein-df01ff8c;
    height: 100vh;
    position: fixed!important;
    right: 0;
    top: 0
}

.slideinonly-enter-active .top-area[data-v-df01ff8c] {
    position: absolute!important
}

.slideinleaveonly-leave-active[data-v-df01ff8c] {
    animation-duration: .5s;
    animation-name: slideout-df01ff8c;
    left: 0;
    position: fixed!important;
    top: 0
}

.slideinleaveonly-leave-active .top-area[data-v-df01ff8c] {
    position: absolute!important
}

.slideinonly-enter-active[data-v-df01ff8c],.slideupleaveonly-enter-active[data-v-df01ff8c],.slideupleaveonly-leave-active[data-v-df01ff8c],.slideuponly-leave-active.popup-view[data-v-df01ff8c] {
    width: 100vmin
}

.slideinonly-leave-active[data-v-df01ff8c] {
    opacity: .99;
    transition-duration: .29s;
    transition-property: opacity;
    width: 100vmin
}

.slideinleaveonly-enter-active[data-v-df01ff8c],.slideinleaveonly-leave-active[data-v-df01ff8c] {
    width: 100vmin
}

.toastFade-enter-active[data-v-df01ff8c],.toastFade-leave-active[data-v-df01ff8c] {
    transition: opacity .3s ease
}

.toastFade-enter-from[data-v-df01ff8c],.toastFade-leave-to[data-v-df01ff8c] {
    opacity: 0
}

.blind[data-v-df01ff8c] {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.paragraph_list[data-v-df01ff8c] {
    margin-bottom: 7px;
    padding: 12px
}

.paragraph_list[data-v-df01ff8c]:last-child {
    padding-bottom: 8px
}

.paragraph_list[data-v-df01ff8c]:before {
    left: 3px;
    top: 9px
}

ul[data-v-df01ff8c] {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0}

.reset-password[data-v-df01ff8c] {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 384px;
    padding-top: 64px
}

@media screen and (max-width: 911.9px) {
    .reset-password[data-v-df01ff8c] {
        max-width:400px;
        padding: 8px 0 20px
    }
}

@media screen and (max-width: 439px) {
    .reset-password[data-v-df01ff8c] {
        max-width:unset;
        padding: 8px 20px 20px;
        width: 100%
    }
}
